.os2forms-organisation-search-query {
  display: flex;
}

.os2forms-organisation-search-query > * {
  margin: 0 !important;
}

.os2forms-organisation-search-query > *:first-child {
  flex-grow: 1;
}

.os2forms-organisation-search-query > *:first-child input {
  width: 100%;
}

.os2forms-organisation-search-result {
  display: none;
}
input[data-name='search-user-query'],
table.os2forms-organisation-search-result-table > tbody > tr > td > button {
  width: 125px;
  outline: none;
  box-shadow: none !important;
}
input[data-name='search-user-query'].submit-loading,
table.os2forms-organisation-search-result-table > tbody > tr > td > button.submit-loading {
  cursor: wait;
}
/* Make table a little more compact.
/*
.os2forms-organisation-search-result-table td {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
*/
